<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
  <listener class-name="GenericUtility.ExtentReportManager"></listener>
  </listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="Regestration.FreeNonSSORegistrationTest"/>
      <class name="Regestration.FreeSSORegistrationTest"/>
      <class name="Regestration.PaidSSORegistrationTest"/>
      <class name="Regestration.PaidNonSSORegistrationTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
